body,html{
    height: 100%;
}

body{
    background: url("/img/bg-1.jpg");
    background-position: center center;
    background-size: cover ;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    border-color: black;   
    overflow-y: hidden; 
    overflow-x: hidden; 
   
}