<link rel="stylesheet" href="/css/login.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="../controller/dashboardController.js"></script>   
    <title>List User</title>
</head>
<body>
  <section id="home" class="gradient-custom">
    <div class="shadow-all d-grid">
        <div class="row">
            <div class="col-md-auto">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" style="width: 280px;">
                    <a href="/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                      <!-- <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
                      <p style="font-size: 1rem">
                        </i>
                      </p>
                      <span class="fs-4"><i class='bx bxs-castle p-2'></i>Dashboard</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                        <a href="/dashboard/manage-user" class="nav-link text-white" aria-current="page">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                          Manage User
                        </a>
                      </li>
                      <li>
                        <a href="/dashboard/game-activity" class="nav-link active">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          User's Game Activity
                        </a>
                      </li>
                      <li>
                        <a href="/dashboard/scoreboard" class="nav-link text-white">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          Scoreboard
                        </a>
                      </li>
                    </ul>

                    <hr>
                    <a href="/home">
                      <button type="button" class="btn-close btn-close-white"
                        aria-label="Close"></button>
                    </a>
                    
                </div>
            </div>
            
            <div class="col w-100 p-5">
                <div class="v-100 w-100">
                    <h1 class="text-white">List User</h1>
                    <div class="row"> 
                      <a href="/dashboard/manage-user">
                        <button  type="button" class="btn btn-primary position-relative mb-3" style="width: 140px;">
                            Add User
                          </button>
                        </a>
                        
                    </div>
                    <div class="row bg-dark bg-opacity-75 v-100 w-100" style="overflow-y: scroll; height: 430px;">
                        <table class="table text-white p-3">
                            <thead class="text-center ">
                              <tr p-3 >
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Age</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Result</th>
                               
                              </tr>
                            </thead>
                            <tbody class="table-group-divider" style="text-align: center;">
                              <% users.forEach((user,i)=>{ %>                              
                                <tr>
                                  <th scope="row"><%= i+1 %> </th>
                                  <td> <%= user.name %> </td>
                                  <td> <%= user.email %> </td>
                                  <td> <%= user.user_game_biodatum?.age %> </td>
                                  <td> <%= user.user_game_biodatum?.gender %> </td>
                                  
                                  <td class="text-center" style="font-size: 20px">
                                      <button style="background-color:grey;" onClick="deleteUser(<%= user.id %>)" id="deleteUser">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                        </svg>
                                      </button>
                                    
                              </td>
                            </tr>
                            <% }); %>
                              
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
  </section>
</body>
<script>
  function deleteUser (userId){
    fetch (`/dashboard/game-activity/${userId}`,{
      method :"delete"
    })
  }
  
</script>
</html>